.header{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding:10px;
    font-weight: 500;

}

.header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}

.heading-top{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: Unbounded;
    font-weight: 600;
    font-size: 2rem;
}

.header-container{
    position:fixed;
    width:100%;
    z-index: 100;

}

.navlink{
    color:white;
    text-decoration:  none;
}

.active {
    text-decoration: underline;
}